body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

#chatbox {
    flex-grow: 1;
    overflow-y: auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #fff;
    max-height: 60vh;
}

#message-form {
    display: flex;
    width: 80%;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-right: none;
}

#message-form button {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ddd;
}

.message-user, .message-bot {
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    display: flex;
}

.message-user {
    margin-left: auto;
    background-color: #6d88b6;  /* or any color you want for the user's bubble */
}

.message-bot {
    margin-right: auto;
    background-color: #838181;  /* or any color you want for the bot's bubble */
}

.typing-indicator {
    animation: blink 1s linear infinite;
    margin-left: 5px;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
