<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V3BG6Z6CLD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-V3BG6Z6CLD');
    </script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
</head>
<body>
    <div className="chatbot">
        <script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>

        <script>
            window.botpressWebChat.init({
                "botId": "20f27abf-8ad3-4c32-bfee-224a11ab4b7c",
                "clientId": "20f27abf-8ad3-4c32-bfee-224a11ab4b7c",
                "hostUrl": "https://cdn.botpress.cloud/webchat/v0",
                "messagingUrl": "https://messaging.botpress.cloud",
                "botName": "Travel Assistant",
                // Set the width of the WebChat container and layout to 100% (Full Screen)
                "containerWidth": "100%25",
                "layoutWidth": "100%25",
                // Hide the widget and disable animations
                "hideWidget": true,
                "disableAnimations": true,
                "stylesheet": "https://ib.mctravels.com/stylesheet.css"
            });


            // Opens up the Chatbot by default
            // This lets users start chatting with the Chatbot without needing to click any buttons or menus.
            window.botpressWebChat.onEvent(
                function () {
                    window.botpressWebChat.sendEvent({ type: "show" });
                },
                ["LIFECYCLE.LOADED"]
            );

            const interval = setInterval(() => {
                if (window.botpressWebChat) {
                    window.botpressWebChat.sendPayload({
                        type: "trigger",
                        payload: {}
                    });
                    clearInterval(interval);
                }
            }, 1000);

        </script>
    </div>

    <!--
    <div id="logo-container">
        <a href="https://www.mctravels.com/index" target="_blank"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Agency Logo"></a>
    </div>

    <div id="chatbox">

    </div>

    <form id="message-form" action="">
        <input id="message-input" type="text" name="message" autocomplete="off" placeholder="Type message here">
        <button type="submit">Send</button>
    </form>

    <div id="branding" >
        Powered by <a href="https://leadup.solutions" id="branding-link" target="_blank">LeadUp Solutions</a>
    </div>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    -->
</body>
</html>
